nav {
  text-align: center;
}

.navbar-brand img {
  max-height: 40px; /* Adjust the height as needed */
}

.navbar-dark {
  background-color: #212529; /* Change to your desired background color */
}

a {
  color: #fff;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -700px; /* Adjust initial left value */
  background-color: #212529;
  padding-top: 56px;
  transition: left 0.3s ease;
}

.sidebar a {
  color: #fff;
  padding: 8px;
  display: block;
}

.navbar-brand:hover + .sidebar,
.sidebar:hover {
  left: 0;
}
.sidebar:hover + .container{
  margin-left: 200px;
}
