<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo1.png" alt="Logo">
      </a>
      <div class="sidebar">
         <app-vertical-navbar></app-vertical-navbar>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/login" [hidden]="userLog">
          <i class="fas fa-sign-in-alt mr-2 text-white"></i> Login
        </a>
      </div>

      <div class="nav-item" (click)="logOutFunc()" [hidden]="!userLog">
        <a class="nav-link" >
          <i class="fas fa-sign-out-alt mr-2 text-white"></i> Logout
        </a>
      </div>
     
    </div>
  </nav>
</div>
