<div class="row "><div class="col-3 "> </div> </div>


<div class="container d-flex align-items-center justify-content-center vh-100" style="width: 500px;">
  <div class="card " style="background-color: #F4D8D8;">
    <br>
    <div class="text-center" style="font-weight: bolder; font-size: 30px;">
      Log in
    </div>
   
    <div class="card-body d-flex align-items-center justify-content-center">
     
          <form (ngSubmit)="loginFunc()" #loginForm="ngForm">
            <div class=" d-none d-md-block">
              <img src="../../../assets/signin-image.jpg" alt="Signup Image" class="img-fluid">
            </div>
            <div class="form-group row mb-2">
              <label class="col-form-label" for="email">Email</label>
              <div>
                <input class="col-lg-5 form-control" id="email" type="email" placeholder="Email (required)" required email
                  name="email" [(ngModel)]="user.email" #emailInput="ngModel"
                  [ngClass]="{'is-invalid': (emailInput.touched || emailInput.dirty) && !emailInput.valid}" />
                <span class="invalid-feedback">
                  <span *ngIf="emailInput.errors?.['required']">Email is required</span>
                  <span *ngIf="emailInput.errors?.['email']">Email must contain @</span>
                </span>
              </div>
            </div>
            <div class="form-group row mb-2">
              <label class="col-form-label" for="password">Password</label>
              <div>
                <input class="form-control" id="password" type="password" placeholder="Password (required)" required
                  name="password" [(ngModel)]="user.password" #passwordInput="ngModel"
                  [ngClass]="{'is-invalid': (passwordInput.touched || passwordInput.dirty) && passwordInput.invalid}" />
                <span class="invalid-feedback">
                  <span *ngIf="passwordInput.errors?.['required']">Password is required</span>
                </span>
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Submit</button>
          </form>

          <!-- <div class="col-lg-3 d-none d-md-block">
            <img src="../../../assets/signin-image.jpg" alt="Signup Image" class="img-fluid">
          </div> -->
        
      
    </div>
  </div>
</div>
