<!-- <p>login works!</p> -->
<br> <br> <br> <br>

<div class="container d-flex align-items-center justify-content-center " style="font-weight: bolder; font-size: 30px;">
  Log in </div>

  <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card-body">
      <div class="row">
        <!-- Form on the left side -->
        <div class="col-md-8">
          <form (ngSubmit)="loginFunc()" #loginForm="ngForm">
  
            <!-- Email -->
            <div class="form-group row mb-2">
              <label class="col-md-3 col-form-label" for="email">Email</label>
              <div class="col-md-9">
                <input class="form-control" id="email" type="email" placeholder="Email (required)" required email
                  name="email" [(ngModel)]="user.email" #emailInput="ngModel"
                  [ngClass]="{'is-invalid': (emailInput.touched || emailInput.dirty) && !emailInput.valid}" />
                <span class="invalid-feedback">
                  <span *ngIf="emailInput.errors?.['required']">Email is required</span>
                  <span *ngIf="emailInput.errors?.['email']">Email must contain @</span>
                </span>
              </div>
            </div>
  
            <!-- Password -->
            <div class="form-group row mb-2">
              <label class="col-md-3 col-form-label" for="password">Password</label>
              <div class="col-md-9">
                <input class="form-control" id="password" type="password" placeholder="Password (required)" required
                  name="password" [(ngModel)]="user.password" #passwordInput="ngModel"
                  [ngClass]="{'is-invalid': (passwordInput.touched || passwordInput.dirty) && passwordInput.invalid}" />
                <span class="invalid-feedback">
                  <span *ngIf="passwordInput.errors?.['required']">Password is required</span>
                </span>
              </div>
            </div>
  
            <!-- Role -->
            <div class="form-group row mb-2">
              <label class="col-md-3 col-form-label" for="role">Role</label>
              <div class="col-md-9">
                <input class="form-control" id="role" type="text" placeholder="Role" name="role" [(ngModel)]="user.role" />
              </div>
            </div>
  
            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Submit</button>
          </form>

          
        </div>
  
        <!-- Image on the right side -->
        <div class="col-md-4">
          <img src="../../../assets/signin-image.jpg" alt="Signup Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
