<!-- <p>table works!</p> -->
<br><br>
<div *ngIf="isEditFormVisible" class="overlay" > </div>
<div class="col-md-5 mx-auto">
  <div class="input-group">
    <input class="form-control border-end-0 border rounded-pill border-dark" type="text" id="example-search-input"
      #inputValue>
    <span class="input-group-append">
      <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill border-dark ms-n5"
        type="button" (click)="search(inputValue.value)">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>


<br> <br>

<div class="tableusers container">
  <div class="card shadow">
    <div class="card-body">
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table *ngIf="!loading" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>
              <div class="d-flex align-items-center" (click)="sortByName()">
                Name
                <div class="ml-2">
                  <i *ngIf="isNameAsc" class="fas fa-sort-up"></i>
                  <i *ngIf="!isNameAsc" class="fas fa-sort-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="d-flex align-items-center">
                Email
              </div>
            </th>
            <th>
              <div class="d-flex align-items-center">
                profile pic
              </div>
            </th>
            <th>
              <div class="d-flex align-items-center">
                Status
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers |paginate : {itemsPerPage : tableSize, currentPage : page ,totalItems : count} ; let i = index ;">
            <td> {{i + 1}} </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td> <img src="{{user.profilePicture}}" style="height: 20px;width: 20px;"></td>
            <td>
              <label class="switch">
                <input type="checkbox" [checked]="user.status === 'Active'" (change)="updateUserStatus($event, user)">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <div class="mb-2">
                <i class="fas fa-trash text-danger" (click)="deleteUser(user._id)"></i>
              </div>
            </td>
            <td>
              <div class="mb-2">
                <i class="fas fa-edit text-dark" (click)="editUser(user)" style="color: black;"></i>
              </div>
            </td>
            <td>
              <div>
                <i class="fas fa-eye text-dark"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
       <div *ngIf="!loading"> 
        <pagination-controls previousLabel="prev" nextLabel="next" (pageChange)="onTableDataChange($event)"></pagination-controls>
       </div>
    </div>
  </div>
</div>

<div *ngIf="isEditFormVisible" class="edit-form-section" >
  <div class="card container">
    <div class="card-header">
      Edit User
      <button type="button" class="close" aria-label="Close" (click)="closeEditForm()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateUser()" #editUserForm="ngForm">
        <div class="form-group row mb-2">
          <label for="name" class="col-md-2 col-form-label">Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="name" id="name" required minlength="3" [(ngModel)]="user.name"
              #usernameInput="ngModel"
              [ngClass]="{'is-invalid': (usernameInput.touched || usernameInput.dirty) && usernameInput.invalid}" />

            <span class="invalid-feedback">
              <span *ngIf="usernameInput.errors?.['required']">Username is required</span>
              <span *ngIf="usernameInput.errors?.['minlength']">Username must be at least 3 characters</span>
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="name" class="col-md-2 col-form-label">username</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="username" id="username" required minlength="3"
              [(ngModel)]="user.username" #username2Input="ngModel"
              [ngClass]="{'is-invalid': (username2Input.touched || username2Input.dirty) && username2Input.invalid}" />

            <span class="invalid-feedback">
              <span *ngIf="username2Input.errors?.['required']">Username is required</span>
              <span *ngIf="username2Input.errors?.['minlength']">Username must be at least 3 characters</span>
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="name" class="col-md-2 col-form-label">Bio</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="bio" id="bio"  minlength="3" [(ngModel)]="user.bio"
              #bioInput="ngModel"
              [ngClass]="{'is-invalid': (bioInput.touched || bioInput.dirty) && bioInput.invalid}" />

            <span class="invalid-feedback">
            
              <span *ngIf="bioInput.errors?.['minlength']">Bio must be at least 3 characters</span>
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="name" class="col-md-2 col-form-label">profile pic</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="profilePicture" id="profilePicture" required minlength="3"
              [(ngModel)]="user.profilePicture" #profpicInput="ngModel"
              [ngClass]="{'is-invalid': (profpicInput.touched || profpicInput.dirty) && profpicInput.invalid}" />
            <span class="invalid-feedback">
              <span *ngIf="profpicInput.errors?.['required']">profpicInput is required</span>
              <span *ngIf="profpicInput.errors?.['minlength']">profpicInput must be at least 3 characters</span>
            </span>
          </div>
        </div>
        <button type="submit" class="btn btn-dark" [disabled]="editUserForm.invalid">Update</button>
      </form>
    </div>
  </div>
</div>
