<nav class="navbar vertical-navbar bg-dark text-light">
  
  <div class="nav-item1">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-tachometer-alt mr-2 text-white"></i> Dashboard
    </a>
  </div>
  <div class="nav-item1">
    <a class="nav-link" routerLink="/charts">
      <i class="fas fa-chart-bar mr-2 text-white"></i> Charts
    </a>
  </div>
  <div class="nav-item1">
    <a class="nav-link" routerLink="/users">
      <i class="fas fa-table mr-2 text-white"></i> Users
    </a>
  </div>
  <div class="nav-item1">
    <a class="nav-link" routerLink="/posts">
      <i class="fas fa-edit mr-2 text-white"></i> Posts
    </a>
  </div>
  <div class="nav-item1">
    <a class="nav-link" routerLink="/msgs">
      <i class="fas fa-calendar-alt mr-2 text-white"></i> Messages
    </a>
  </div>
  <div class="nav-item1">
    <a class="nav-link" routerLink="/notifications">
      <i class="fas fa-bell mr-2 text-white"></i> Notifications
    </a>
  </div>
  
</nav>
